#spinner-overlay {
    position: fixed; /* Fixa o overlay na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    z-index: 9999; /* Garante que fique na frente de todos os elementos */
  }

  .spinner-border {
    width: 10rem;
    height: 10rem;
  }